<h1>Hey Folks!</h1>
<p>Find me in app/views/pages/info.html.erb</p>
<p>I love animals from all regions of the globe but here in Australia we have some pretty special creatures that make this country one of the best for wildlife spotting</p>
